extend layout

block content
  .container
    h1= title + ' Dashboard'
    h2 Link to This Dashboard
    a(href=poll.dashboardLink, target='_new')= poll.dashboardLink
    h2 Link to Share Poll
    a(href=poll.votingLink, target='_new')= poll.votingLink
    h2 Poll Results
    #poll_status
      if poll.open
        button(class=poll.votingId id='close_poll') Close Poll
      else
        p You have closed this poll
    a(href='/') Start a New Poll
    br
    div(class=poll.dashboardId id='votes_count')
      each option in poll.poll_options
        p= option + ': ' + poll.voteTally[option]
